This is a handlebars block expression test page
<ul>
    {{#each peopleList}}
        <li>
            <span>name: {{name}}</span>
            <span>sex: {{sex}}</span>
            <span>age: {{age}}</span>
        </li>
    {{/each}}
</ul>
<a href="/">back</a>