<h1>home page</h1>
<a href="/nolayout">nolayout</a>
<a href="/custom">customLayout</a>
<a href="/partialsTest">partials test</a>
<a href="/sectionTest">sections test</a>
<a href="/blockExpression">blockExpression test</a>
<a href="/localsTest">localsTest test</a>
<a href="/subPathTest">subPathTest test</a>