this is a page for res.locals object testing
<ul>
    {{#each peopleList}}
        <li>
            <span>name: {{name}}</span>
            <span>sex: {{sex}}</span>
            <span>age: {{age}}</span>
        </li>
    {{/each}}
</ul>
<a href="/">back</a>